/* index.css */
nav {
  background-color: #282c34;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
